<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">

  <!-- wp:query {"layout":{"inherit":true}} -->
  <div class="wp-block-query">

    <!-- wp:post-template -->
    <div class="wp-block-group">
      <!-- wp:post-title {"isLink":true} /-->
      <!-- wp:post-featured-image {"isLink":true} /-->
      <!-- wp:post-excerpt /-->

      <!-- wp:spacer {"height":40} -->
      <div class="wp-block-spacer" style="height:40px" aria-hidden="true"></div>
      <!-- /wp:spacer -->
    </div>
    <!-- /wp:post-template -->

    <!-- wp:query-pagination -->
    <div class="wp-block-group">
      <!-- wp:query-pagination-previous /-->
      <!-- wp:query-pagination-numbers /-->
      <!-- wp:query-pagination-next /-->
    </div>
    <!-- /wp:query-pagination -->

  </div>
  <!-- /wp:query -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->